*{
    font-family: 'Open Sans Condensed', sans-serif;

}

.app{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:gray;
    height:100vh;
}

body{
    margin:0px;
    overflow:hidden;
}