.game-wrapper{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:70vh;
    .adventure-card{
        border:1px solid black;
        padding:25px;
        width:300px;
        
        
        h2,h4{
            margin:0px;
        }
    }
    .play-area{
        border: 1px solid black;
        background-color:white;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:100%;
        width:80%;
        margin-left:25px;
        
        .char-form{
            height:90%;
            width:90%;
            .action-list{
                display:flex;
                justify-content: space-between;
                align-items: center;
                
                .actions{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction:column;
                    width:35vw;
                    div{
                        display:flex;
                        justify-content: center;
                        width:100%;
                        align-items: center;
                        h5{
                            margin: 5px 10px 5px 10px;
                        }
                    }
                }
                .input-box{
                    display:flex;
                    justify-content: space-between;
                    align-items:center;
                    width:35vw;
                    .stats{
                        .player-stats{
                            display:flex;
                            justify-content: flex-end;
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }
            }
            .display-window{
                margin-bottom:10px;
                height:60%;
                border:1px solid black;
                padding:5px;
                display:flex;
                justify-content: center;
                align-items:center;
                flex-direction:column;                
                
                .display-text{
                    width:100%;
                    height:80%;
                    color: white;
                    background:gray;
                    padding:5px;
                    .err-text{
                        width:100%;
                        background:gray;
                        color:white;
                        
                    }
                    
                }
                
                .player_input{
                    height:30px;
                    width:99%;
                    text-align: start;
                    text-justify: start;
                    margin-bottom:2px;
                    
                }
                
                .input_btn{
                    height:25px;
                    width:100%;
                    font-size:18px;
                    background-color:crimson;
                    color:white;
                    font-weight:900;
                    margin-bottom:10px;
                }
                
            }
        }
    }
}